<ion-view view-title="Your Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('{{user.avatar}}');"></div>
                <h3><a class="light">{{user.name}}</a></h3>
                <h4>{{user.profession}}</h4>
            </div>
        </div>
        <div class="tabs tabs-dark app-tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Trending
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-heart"></i> Following
            </a>
            <a ui-sref="app.market_profile" class="tab-item">
                <i class="icon ion-android-people"></i> Market
            </a>
        </div>
        <div class="card">
            <div class="item item-divider positive">Your settings</div>
            <ul class="list no-mar-bottom">
                <li class="item item-toggle item-icon-left" ng-controller="MainAvailStatusCtrl">
                    <i class="icon ion-android-time"></i>
                    {{text_status}}
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="status" ng-change="UpdateStatus()">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <li class="item item-toggle item-icon-left" ng-controller="MainVideoStatusCtrl">
                    <i class="icon ion-ios-videocam"></i>
                    Video {{text_status}}
                    <label class="toggle toggle-energized">
                        <input type="checkbox" ng-model="status" ng-change="UpdateStatus()">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="item item-divider positive">Your rate/minute</div>
            <div class="row padding-bottom" ng-controller="userRateCtrl">
                <div class="col no-pad">
                    <div class="list">
                        <label class="item item-input">
                            <i class="icon ion-social-usd placeholder-icon"></i>
                            <input type="number" name="userrate" step="0.01" max="999.99" min="0.52" placeholder="" ng-init="userrate=15.25" ng-model="userrate" class="input-decorate">
                        </label>
                    </div>
                </div>
                <div class="col col-50 no-pad text-center">
                    <button class="button button-clear button-positive" ng-click="inputChanged()">Save</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider positive">Your chosen charity</div>
            <div class="list padding-bottom">
                <label class="item item-input item-select">
                    <div class="input-label">Charity</div>
                    <select>
                        <option>Night's Watch Council</option>
                        <option>The Panda Foundation</option>
                        <option>Save the Trees</option>
                        <option>The Meereen Foundation</option>
                    </select>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>
